{% extends "base.html" %}
{% block title %}Detalles de Imagen{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }
  </style>
{% endblock %}
{% block content %}
  <h1>{{ image.name }}</h1> 

  <div class="row">
      <div class="col-md-2 fw-bold">Fecha de procesamiento:</div>
      <div class="col">{{ image.fecha }}</div>
  </div>

  <div class="row">
      <div class="col-md-2 fw-bold">Usuario:</div>
      <div class="col">{{ image.usuario }}</div>                
  </div>

  <div class="row">
    <div class="col-md-2 fw-bold">Fases aplicadas:</div>
    <div class="col">
        <ul class="mb-0">
            {% for fase in image.fases %}
                <li>{{ fase }}</li>
            {% endfor %}
        </ul>
    </div>                
  </div>

  <div class="row">
    <div class="col-md-2 fw-bold">Pixeles por color:</div>
    <div class="col">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Color</th>
                    <th>Número de píxeles</th>
                </tr>
            </thead>
            <tbody>
                {% for color, count in image.pixeles.items() %}
                    <tr>
                        <td>{{ color }}</td>
                        <td>{{ count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>                
  </div>

  <div class="row">
    <div class="col text-end">
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Volver al listado</a>
    </div>
  </div>
{% endblock %}